<form class="flex flex-col gap-5 p-5 bg-lime-50"
      (submit)="onSubmit($event)">
  <div>
    <label for="username">Benutzername</label>
    <input
      z-input
      size="lg"
      id="username"
      placeholder="username"
      type="text"
      [formField]="profileForm.username"
    />

    @if (profileForm.username().touched() && profileForm.username().invalid()) {
      <div class="error-messages">
        @for (error of profileForm.username().errors(); track  error.kind) {
          <small class="error-text text-red-500">{{ error.message }}</small>
        }
      </div>
    }
  </div>

  <div>
    <label for="email">E-Mail</label>
    <input
      z-input
      size="lg"
      id="email"
      placeholder="email"
      type="email"
      [formField]="profileForm.email"
    />

    @if (profileForm.email().touched() && profileForm.email().invalid()) {
      <div class="error-messages">
        @for (error of profileForm.email().errors(); track error.kind) {
          <small class="text-red-500">{{ error.message }}</small>
        }
      </div>
    }
  </div>

  <button type="submit"
          z-button
          zType="outline"
          [disabled]="!profileForm().valid()">
    {{ !profileForm().valid() ? 'Not Valid' : 'Valid' }}
  </button>
</form>
