<z-layout class="overflow-hidden rounded-md border">
  <z-sidebar
    [zWidth]="250"
    [zCollapsible]="true"
    [zCollapsed]="sidebarCollapsed()"
    [zCollapsedWidth]="70"
    (zCollapsedChange)="onCollapsedChange($event)"
    class="p-0!"
  >
    <nav [class]="'flex h-full flex-col overflow-hidden ' + (sidebarCollapsed() ? 'gap-1 p-1 pt-4' : 'gap-4 p-4')">
      <z-sidebar-group>
        @if (!sidebarCollapsed()) {
          <z-sidebar-group-label>Main</z-sidebar-group-label>
        }
        @for (item of mainMenuItems; track item.label) {
          <button
            type="button"
            z-button
            zType="ghost"
            [routerLink]="item.href"
            [class]="sidebarCollapsed() ? 'justify-center' : 'justify-start'"
            [zTooltip]="sidebarCollapsed() ? item.label : ''"
            zPosition="right"
          >
            <ng-icon [name]="item.icon" [class]="sidebarCollapsed() ? '' : 'mr-2'" />
            @if (!sidebarCollapsed()) {
              <span>{{ item.label }}</span>
            }
          </button>
        }
      </z-sidebar-group>

      <z-sidebar-group>
        @if (!sidebarCollapsed()) {
          <z-sidebar-group-label>Workspace</z-sidebar-group-label>
        }
        @for (item of workspaceMenuItems; track item.label) {
          @if (item.submenu) {
            <button
              type="button"
              z-button
              zType="ghost"
              z-menu
              [zMenuTriggerFor]="submenu"
              zPlacement="rightTop"
              [class]="sidebarCollapsed() ? 'justify-center' : 'justify-start'"
              [zTooltip]="sidebarCollapsed() ? item.label : null"
              zPosition="right"
            >
              <ng-icon [name]="item.icon" [class]="sidebarCollapsed() ? '' : 'mr-2'" />
              @if (!sidebarCollapsed()) {
                <span class="flex-1 text-left">{{ item.label }}</span>
                <ng-icon name="lucideChevronRight" />
              }
            </button>

            <ng-template #submenu>
              <div z-menu-content class="w-48">
                @for (subitem of item.submenu; track subitem.label) {
                  <button type="button" z-menu-item>{{ subitem.label }}</button>
                }
              </div>
            </ng-template>
          } @else {
            <button
              type="button"
              z-button
              zType="ghost"
              [class]="sidebarCollapsed() ? 'justify-center' : 'justify-start'"
              [zTooltip]="sidebarCollapsed() ? item.label : ''"
              zPosition="right"
            >
              <ng-icon [name]="item.icon" [class]="sidebarCollapsed() ? '' : 'mr-2'" />
              @if (!sidebarCollapsed()) {
                <span>{{ item.label }}</span>
              }
            </button>
          }
        }
      </z-sidebar-group>

      <div class="mt-auto">
        <div
          z-menu
          [zMenuTriggerFor]="userMenu"
          zPlacement="rightBottom"
          [class]="
                'hover:bg-accent flex cursor-pointer items-center justify-center gap-2 rounded-md ' +
                (sidebarCollapsed() ? 'm-2 p-0' : 'p-2')
              "
        >
          <z-avatar zSrc="https://zardui.com/images/avatar/imgs/avatar_image.jpg" zAlt="Zard UI" />

          @if (!sidebarCollapsed()) {
            <div>
              <span class="font-medium">zardui</span>
              <div class="text-xs">test&#64;zardui.com</div>
            </div>

            <ng-icon name="lucideChevronsUpDown" class="ml-auto" />
          }
        </div>

        <ng-template #userMenu>
          <div z-menu-content class="w-48">
            <button type="button" z-menu-item>
              <ng-icon name="lucideUser" class="mr-2" />
              Profile
            </button>
            <button type="button" z-menu-item>
              <ng-icon name="lucideSettings" class="mr-2" />
              Settings
            </button>
            <z-divider zSpacing="sm" />
            <button type="button" z-menu-item>
              <ng-icon name="lucideLogOut" class="mr-2" />
              Logout
            </button>
          </div>
        </ng-template>
      </div>
    </nav>
  </z-sidebar>

  <!-- min-h-[200px] is just for the demo purpose to have a minimum height -->
  <z-content class="min-h-50">
<!--    <div class="flex items-center">-->
<!--      <button type="button" z-button zType="ghost" zSize="sm" class="-ml-2" (click)="toggleSidebar()">-->
<!--        <ng-icon name="lucidePanelLeft" />-->
<!--      </button>-->
<!--    </div>-->

    <div class="space-y-4 py-4">
      <router-outlet />
    </div>
  </z-content>
</z-layout>
